@model Rent

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-5">
                <div class="row pb-3">
                    <h2 class="text-primary">@(Model == null ? "Yeni kiralama" : "Kiralama Güncelle")  </h2>
                    </hr>
                </div>
                <div class="mb-3">
                <label asp-for="OgrenciId" class="p-0"></label>
                <input asp-for="OgrenciId" class="form-control" />
                <span asp-validation-for="OgrenciId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="BookId" class="p-0"></label>
                    <select asp-for="BookId" asp-items="ViewBag.BookList" class="form-select">
                    </select>
                    <span asp-validation-for="BookId" class="text-danger"></span>
                </div>
               
                @if (Model != null)
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:200px">
                        Güncelle
                    </button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:200px">
                        Kiralama
                    </button>
                }

            <a asp-controller="Rent" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
                    Kiralama Listesi
                </a>
            </div>
        </div>
        <div class="col-2">
            @if (Model != null)
            {
                <br ></br>
                <img src="@Model.Book.ImageUrl" width="100%" style="border-radius:7px; border:1px solid #bbb9b9" />
            }
        </div>
    </div>

</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}