@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br/>
    <h1 style="color:#8B008B" class="display-4"><strong>Online Kütüphane Sistemi</strong></h1>
    <br/>
    <br/>
    <p><img src="/img/library.jpg"></p>
</div>
